html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1 0 auto;
    padding: 40px;
}

.rodape {
    flex-shrink: 0;
    padding: 10px;
}

.cor-footer {
    color: black;
}