{% extends 'bases/base.html' %}
{% load static %}


{% block 'header' %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/Lab.png' %}" alt="Logo" width="50" height="40"
                    class="d-inline-block align-text-center">
                Laboratório de Telômeros
            </a>
        </div>
        <a class="btn btn-secondary" href="{% url 'admin'%}" role="button">Admin</a>
    </div>
</nav>
{% endblock %}

{% block 'body' %}
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block "> <img src="{% static 'img/Lab.png' %}"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                                {% endif %}
                                <h1 class="h4 text-gray-900 mb-4">LOGIN</h1>
                            </div>
                            <form class="user" action="{% url 'index' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                        aria-describedby="emailHelp" name="username" placeholder="Usuário...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" name="senha" placeholder="Senha">
                                </div>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class=" btn btn-dark btn-lg" value="LOGAR"> LOGAR </button>

                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}